<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        <div class="container">
            <h1><a href="/">Wikinatra</a></h1>
            <hr />